[submodule "Wombat/vendor/glm"]
	path = Wombat/vendor/glm
	url = https://github.com/AFaurholt/glm.git
[submodule "Wombat/vendor/glfw"]
	path = Wombat/vendor/glfw
	url = https://github.com/AFaurholt/glfw.git
[submodule "Wombat/vendor/imgui"]
	path = Wombat/vendor/imgui
	url = https://github.com/AFaurholt/imgui.git
[submodule "Wombat/vendor/Vulkan-Headers"]
	path = Wombat/vendor/Vulkan-Headers
	url = https://github.com/AFaurholt/Vulkan-Headers.git
